.container{
/* background-color: violet; */
/* display: flex; */
position: relative;
background-color: lightgray;
    height:fit-content;
}
.section
{
    background-color: lightgray;
    width:75%;
    height:412px;
    display: flex;
}
.LeftSection
{
    width:35%;
    height:100%;
    background-color: white;
    margin-left: 1.5rem;
    /* background-color: rgb(161, 161, 132); */
    /* margin:0 10%; */
    border:1px solid white;
    border-radius: 1rem;
    overflow: scroll;
}
.search-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 90%;
    margin:auto;
    margin-top: 3%;
    /* margin-bottom: 15px; */
  }
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 1rem;
  }
  
.input-field:focus {
    border: 2px solid dodgerblue;
  } 

.Right-Section
{
    /* background-color: teal; */
    background-color: white;
    width:57.5%;
    /* height: fit-content; */
    height:415px;
    border-radius: 1rem;
    margin-left:2%;
}
.article
{
    width:75%;
    height: fit-content;
    display: flex;
    background-color: lightgray;
}
.Spread
{
    background-color: white;
    width:45%;
    /* height: 100%; */
    height:205px;
    margin:1.5rem 1.5rem;
    border-radius: 1rem;
}
.article-right
{
background-color: white;
width:45%;
height: fit-content;
margin:1.5rem 1.7rem;
/* margin-top: 1.5rem;
margin-right: 1.7rem; */
border-radius: 1rem;
display:flex;
height:208px;
}
.article-right-img
{
    /* border:1px solid black; */
    width:35%;
    /* background-color: red; */
    /* text-align: center; */
}
.article-right-box
{
    /* border:1px solid green; */
    /* text-align: center; */
    margin:2rem 2rem;
    /* background-color: teal; */
}
.article-right-feed
{
    /* background-color: yellow; */
    width:100%;
}
.btnNews
{
    background-color: pink;
    color: red;
    font-weight: bold;
    padding:0.5rem;
    text-align: center;
    border-radius: 1rem;
    margin-left:1.5rem;
    margin-top: 1rem;
}
.between
{
    height:30%;
    margin-left: 1.5rem;
    padding:2%;
    color:rgba(240, 61, 61, 0.692);
    font-weight: bold;
    font-size: large;
    width:80%;
    height: 100px;
    /* background-color: red; */
}
.aside
{
    /* background-color: yellow; */
    background-color: lightgray;
    width:25%;
    height: fit-content;
    position: absolute;
    left:75%;
    top:0;
}

.twitter
{
    background-color: white;
    border-radius: 1rem;
    /* margin:1.5rem 1rem; */
    margin:5% 5%;
    height:fit-content;
}
.twitter-top
{
    display: flex;
}

.twitter-heading
{
    color:rgba(0, 0, 0, 0.685);
    /* margin-top: 30px; */
    /* margin-left: 4%; */
    font-weight: bold;
    font-size: 20px;
    padding:4%;
    width:52%;
    /* background-color: red; */
}
.twitter-img
{
    width:10%;
    margin:6% -8%;
}
.twitter-info
{
    /* background-color: lime; */
    margin:0 4%;
    display: flex;
}
.twitter-info-img
{
    width:25%;
    /* background-color: red; */
}
.twitter-info-img-left
{
    width:90%;
    height:80%;
    margin:4% 8%;
    border-radius: 2rem;
}
.twitter-info-right
{
    width:75%;
    margin-top: 3%;
    margin-left:2%;
    /* background-color: yellow; */
    /* margin:1%; */
    /* padding:2%; */
}
.LogoName
{
    font-size: 16px;
    margin-top: 2%;
}
.Logo-Subscript
{
    color:gray;
    margin-top:3%;
}
.twitter-para
{
    font-size: 12px;
    color:rgba(0, 0, 0, 0.781);
    padding: 0 4%;
    line-height: 1rem;
}
.twitter-footer
{
    display: flex;
    padding: 0 4%;
    border-bottom: 2px solid lightgray;
}
.twitter-footer-like
{
    /* margin-top: 2%; */
    margin-bottom: 4%;
}
.likes
{
    color:rgb(170, 60, 60);
    margin-left: 3%;
    margin-top: 4%;
}
.twitter-footer-share
{
    margin-left: 8%;
    margin-bottom: 4%;
}
.shares
{
    color: rgb(135, 192, 206);
    margin-left: 3%;
    margin-top:4%;
}
.date
{
    color:gray;
    margin-left:38%;
    margin-top:4%;
}
.twitter-footer-like-modi
{
    /* margin-top: 2%; */
    margin-bottom: 4%;
}
.twitter-footer-share-modi
{
    margin-left: 8%;
    margin-bottom: 4%;
}
.date-modi
{
    color:gray;
    margin-left:35%;
    margin-top:4%;
} 
 
@media only screen and (max-width: 768px)
{
    .container
    {
        display: flex;
        flex-direction: column;
    }
      .Main-Section
    {
        width:100%;
        display: flex;
        flex-direction: column;
        /* background-color:red; */
    }
    .section
    {
        display: flex;
        flex-direction: column;
    }
    .LeftSection
    {
        width:100%;
        height:100%;
        margin-top: 1%;
        margin-left: 15%;
    }
    .Right-Section
    {
        width:100%;
        height:100%;
        margin-top: 2%;
        margin-left: 15%;
    }
    .article
    {
        display: flex;
        flex-direction: column;
    }
    .aside
    {
    width:100%;
    position: absolute;
    left:0;
    top:100%;
    }
    .Spread
    {
        width:100%;
        margin-top: 2%;
        margin-left: 15%;
    }
    .article-right
    {
        width:100%;
        margin-top: 2%;
        margin-left: 15%;
    }
    .article-right-box
    {
        margin:2rem 1.5rem;
    }
    .btnNews
    {
    margin-left:1.5rem;
    margin-top: 2.5rem;
    }
    .between
    {
    height:30%;
    margin-left: 2rem;
    margin-top:1rem;
    width:100%;
    }
    .twitter-footer-like,.twitter-footer-like-modi,.twitter-footer-share,.twitter-footer-share-modi
    {
        margin-bottom: 2.5%;
    }
   
    .date,.date-modi
    {
        color:gray;
        margin-left:55%;
        margin-top:4%;
    }
    .twitter-para
    {
    font-size: 18px;
    line-height: 1.5rem;
    }
    .twitter-heading
    {
    /* margin-top: 30px; */
    margin-left: 4%;
    font-weight: bolder;
    font-size: 32px;
    padding:4%;
    width:70%;
    }
    .twitter-img
    {
    width:30%;
    margin-left: -40%;
    }
    .LogoName
    {
    font-size: 32px;
    margin-top: 2%;
    }
    .Logo-Subscript
    {
    font-size: 24px;
    }
  
}